<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Applications - GameHub</title>

		<script src="/static/js/dist/apply.js"></script>
		{% if production %}
		<link rel="stylesheet" href="/static/css/dist/apply.css" />
		{% else %}
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="stylesheet" href="/static/css/dev/selection.css" />
		<link rel="stylesheet" href="/static/css/scheme.css" />
		<link rel="stylesheet" href="/static/css/autofill.css" />
		{% endif %}
	</head>

	<body class="bg-zinc-900">
		<div
			class="fixed z-10 inset-0 overflow-y-auto hidden"
			aria-labelledby="modal-title"
			role="dialog"
			aria-modal="true"
			data-type="modal"
			id="editor-modal"
		>
			<div
				class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
			>
				<div
					class="fixed inset-0 bg-zinc-900 bg-opacity-75 transition-opacity"
					aria-hidden="true"
				></div>

				<span
					class="hidden md:inline xl:text-xl-block sm:align-middle sm:h-screen"
					aria-hidden="true"
					>&#8203;</span
				>
				<div
					class="relative inline-block align-bottom bg-zinc-800 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full"
				>
					<div class="bg-zinc-800 px-4 pt-5 pb-4 sm:p-6 sm:pb-4 w-full">
						<form class="space-y-6" action="#" id="editor-form">
							<div class="flex">
								<p
									class="justify-start text-2xl md:text-xl font-medium text-white"
								>
									Editor Application
								</p>
								<button
									data-form-exclude="true"
									type="button"
									class="justify-end rounded-lg lg:text-sm ml-auto text-zinc-500 hover:text-zinc-400 transition-all"
									data-type="modalclose"
								>
									<svg
										class="w-8 h-8 md:w-6 md:h-6"
										fill="currentColor"
										viewBox="0 0 20 20"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											fill-rule="evenodd"
											d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
											clip-rule="evenodd"
										></path>
									</svg>
								</button>
							</div>
							<small class="text-rose-400">
								Spamming applications will result in account termination.
							</small>
							<small></small>
							<div>
								<label
									for="text"
									class="block mb-2 text-lg lg:text-sm font-medium text-zinc-400"
									>Discord Tag</label
								>
								<input
									type="text"
									name="discord-tag"
									id="discord-tag"
									class="bg-zinc-900 lg:text-sm rounded-lg block h-fit w-full p-2.5 focus:bg-zinc-700 text-white focus:outline-none"
									placeholder="jeff_bezos_gameing#6969"
								/>
								<small></small>
							</div>
							<div>
								<p
									class="block mb-2 text-lg lg:text-sm font-medium text-zinc-400"
								>
									Can you help add games to the site?
								</p>

								<div class="hidden bg-orange-400"></div>
								<!-- to make sure these get rendered by tailwind ^^ -->

								<div
									class="flex space-x-3"
									data-type="radiogroup"
									id="can-add-games"
								>
									<button
										CausesValidation="False"
										type="button"
										role="button"
										data-form-exclude="true"
										id="yesbtn"
										data-type="radio"
										class="w-1/6 font-semibold drop-shadow-lg bg-zinc-700 hover:bg-orange-400 rounded transition-all duration-300 text-zinc-400 hover:text-white p-2"
									>
										Yes
									</button>
									<button
										CausesValidation="False"
										type="button"
										role="button"
										data-form-exclude="true"
										id="nobtn"
										data-type="radio"
										class="w-1/6 font-semibold drop-shadow-lg bg-zinc-700 hover:bg-orange-400 rounded transition-all duration-300 text-zinc-400 hover:text-white p-2"
									>
										No
									</button>
									<!-- i dont care how ugly this api is, im not using @tailwindcss/forms -->
								</div>

								<small></small>
							</div>
							<div>
								<p
									class="block mb-2 text-lg lg:text-sm font-medium text-zinc-400"
								>
									Can you help expand the site to a wider audience?
								</p>

								<div class="hidden bg-orange-400"></div>
								<!-- to make sure these get rendered by tailwind ^^ -->

								<div
									class="flex space-x-3"
									data-type="radiogroup"
									id="can-expand-audience"
								>
									<button
										CausesValidation="False"
										type="button"
										role="button"
										data-form-exclude="true"
										id="yesbtn-2"
										data-type="radio"
										class="w-1/6 font-semibold drop-shadow-lg bg-zinc-700 hover:bg-orange-400 rounded transition-all duration-300 text-zinc-400 hover:text-white p-2"
									>
										Yes
									</button>
									<button
										CausesValidation="False"
										type="button"
										role="button"
										data-form-exclude="true"
										id="nobtn-2"
										data-type="radio"
										class="w-1/6 font-semibold drop-shadow-lg bg-zinc-700 hover:bg-orange-400 rounded transition-all duration-300 text-zinc-400 hover:text-white p-2"
									>
										No
									</button>
								</div>

								<small></small>
							</div>
							<div>
								<label
									for="text"
									class="block mb-2 text-lg lg:text-sm font-medium text-zinc-400"
									>Is there anything else you can help with?
								</label>
								<input
									type="text"
									name="anything-else"
									id="anything-else"
									class="bg-zinc-900 lg:text-sm rounded-lg block h-fit w-full p-2.5 focus:bg-zinc-700 text-white focus:outline-none"
									placeholder="i forgor"
								/>
								<small></small>
							</div>

							<button
								data-form-exclude="true"
								type="submit"
								class="w-full text-xl font-semibold drop-shadow-lg bg-zinc-700 hover:bg-emerald-400 rounded transition-all duration-300 text-zinc-400 hover:text-white p-2"
							>
								Submit
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div
			class="fixed z-10 inset-0 overflow-y-auto hidden"
			aria-labelledby="modal-title"
			role="dialog"
			aria-modal="true"
			data-type="modal"
			id="developer-modal"
		>
			<div
				class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
			>
				<div
					class="fixed inset-0 bg-zinc-900 bg-opacity-75 transition-opacity"
					aria-hidden="true"
				></div>

				<span
					class="hidden md:inline xl:text-xl-block sm:align-middle sm:h-screen"
					aria-hidden="true"
					>&#8203;</span
				>
				<div
					class="relative inline-block align-bottom bg-zinc-800 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full"
				>
					<div class="bg-zinc-800 px-4 pt-5 pb-4 sm:p-6 sm:pb-4 w-full">
						<div class="flex">
							<p
								class="justify-start text-2xl md:text-xl font-medium text-white"
							>
								Applying for developer
							</p>
							<button
								data-form-exclude="true"
								type="button"
								class="justify-end rounded-lg lg:text-sm ml-auto text-zinc-500 hover:text-zinc-400 transition-all"
								data-type="modalclose"
							>
								<svg
									class="w-8 h-8 md:w-6 md:h-6"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										fill-rule="evenodd"
										d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
										clip-rule="evenodd"
									></path>
								</svg>
							</button>
						</div>
						<div class="text-zinc-400 font-thin pt-4 text-lg">
							<p>
								At the moment, we don't have an official developer application.
							</p>
							<div class="py-4">
								<hr class="w-full border-t border-zinc-700" />
							</div>
							<p>
								If you would like to work on a feature or two, please head over
								to the
								<a
									href="https://github.com/ZeroIntensity/gamehub"
									class="text-orange-400 hover:text-orange-300 transition-all"
									>repository</a
								>.
							</p>
							<br />
							<p>
								<span class="font-semibold">Not sure what to do?</span>
								<br />
								Our

								<a
									href="https://github.com/ZeroIntensity/gamehub/issues"
									class="text-orange-400 hover:text-orange-300 transition-all"
									>issues tab</a
								>
								has plenty of planned features that you could work on.
							</p>

							<div class="py-4">
								<hr class="w-full border-t border-zinc-700" />
							</div>
							<p>
								If you are interested in joining GameHub as a developer, please
								join our
								<a
									href="https://discord.gg/EKMbm2YhzJ"
									class="text-orange-400 hover:text-orange-300 transition-all"
									>discord</a
								>
								and message
								<span class="font-semibold">zerointensity#0101</span>.
							</p>
							<br />
							<div>
								<span class="font-semibold"
									>Difference between contributor and developer?</span
								>
								<p>
									Contributors are simply people who have made a commit to the
									repository. They don't need to meet any requirements or write
									out any application.
								</p>
								<br />
								<p>
									Developers help maintain the entire project. They must meet
									the
									<span
										data-type="modalopen"
										data-target="requirements-modal"
										class="text-orange-400 hover:text-orange-300 transition-all cursor-pointer"
										>developer requirements</span
									>
									and are provided a developer GameHub account.
								</p>

								<div class="pt-4">
									<button
										data-type="modalopen"
										data-target="requirements-modal"
										class="font-semibold drop-shadow-lg bg-zinc-700 hover:bg-orange-400 rounded transition-all duration-300 text-zinc-400 hover:text-white p-2"
									>
										Requirements
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="fixed z-10 inset-0 overflow-y-auto hidden"
			aria-labelledby="modal-title"
			role="dialog"
			aria-modal="true"
			data-type="modal"
			id="requirements-modal"
		>
			<div
				class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
			>
				<div
					class="fixed inset-0 bg-zinc-900 bg-opacity-75 transition-opacity"
					aria-hidden="true"
				></div>

				<span
					class="hidden md:inline xl:text-xl-block sm:align-middle sm:h-screen"
					aria-hidden="true"
					>&#8203;</span
				>
				<div
					class="relative inline-block align-bottom bg-zinc-800 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full"
				>
					<div class="bg-zinc-800 px-4 pt-5 pb-4 sm:p-6 sm:pb-4 w-full">
						<div class="flex">
							<p
								class="justify-start text-2xl md:text-xl font-medium text-white"
							>
								Developer Requirements
							</p>
							<button
								data-form-exclude="true"
								type="button"
								class="justify-end rounded-lg lg:text-sm ml-auto text-zinc-500 hover:text-zinc-400 transition-all"
								data-type="modalclose"
							>
								<svg
									class="w-8 h-8 md:w-6 md:h-6"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										fill-rule="evenodd"
										d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
										clip-rule="evenodd"
									></path>
								</svg>
							</button>
						</div>
						<div class="text-zinc-400 font-thin pt-4 text-lg">
							<p>
								Anyone applying for developer should be proficent in at least
								<span class="font-semibold">one</span> of the following.
							</p>

							<ul class="text-zinc-300">
								<li>- TypeScript</li>
								<li>- Python and FastAPI</li>
								<li>- HTML and TailwindCSS</li>
							</ul>
							<div class="py-4">
								<hr class="w-full border-t border-zinc-700" />
							</div>
							<div>
								<p>
									Anyone applying for developer should also be relatively
									proficent in
									<span class="font-semibold">all</span> of the following.
								</p>

								<ul class="text-zinc-300">
									<li>
										- Familar with industry standards (such as DRY principle)
									</li>
									<li>- Command lines</li>
									<li>- Npm or Pip</li>
									<li>- Git and GitHub</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex flex-wrap bg-zinc-900 w-full h-screen">
			<nav
				class="w-3/12 bg-zinc-800 rounded p-3 shadow-lg self-start sticky top-0 h-screen overflow-y-auto"
			>
				<div class="text-center p-2 mb-5">
					<p
						class="text-white hidden lg:inline lg:text-3xl xl:text-5xl font-bold tracking-wide"
					>
						Game<span
							class="bg-gradient-to-r from-orange-400 to-orange-500 bg-clip-text text-transparent"
							>Hub</span
						>
					</p>

					<p></p>
				</div>

				<svg class="h-7 w-7 md:h-6 md:w-6 2xl:w-8 2xl:h-8 hidden"></svg>
				<!-- ^^ makes sure the svg classes are compiled by tailwind -->

				<ul class="space-y-2">
					{% for navitem in nav %} {% if not navitem.marker %}
					<li>
						<a
							data-type="navlink"
							href="{{ navitem.href }}"
							class="flex items-center space-x-3 text-white p-2 rounded-md font-medium hover:bg-zinc-700 focus:shadow-outline"
						>
							<span class="text-white m-auto md:m-0">
								{{ navitem.svg|safe }}
							</span>
							<span class="hidden md:inline 2xl:text-xl"
								>{{ navitem.title }}</span
							>
						</a>
					</li>
					{% else %}
					<div class="py-4">
						<hr class="w-full border-t border-zinc-700" />
					</div>
					{% endif %} {% endfor %}
				</ul>
			</nav>

			<div class="w-9/12 text-white">
				<div class="p-2 text-center text-6xl font-bold">
					<h1>Applications</h1>
				</div>
				<div class="p-2 pt-4 space-y-6 m-auto w-3/4">
					<div class="bg-zinc-800 rounded p-2">
						<p class="text-3xl">Editor Application</p>
						<p class="text-lg font-thin text-zinc-400">
							Help add new games and expand the site.
						</p>
						<div class="pt-2">
							<button
								data-type="modalopen"
								data-target="editor-modal"
								class="font-semibold drop-shadow-lg bg-zinc-700 hover:bg-orange-400 rounded transition-all duration-300 text-zinc-400 hover:text-white p-2"
							>
								Apply
							</button>
						</div>
					</div>

					<div class="bg-zinc-800 rounded p-2">
						<p class="text-3xl">Developer Application</p>
						<p class="text-lg font-thin text-zinc-400">
							Implement new features and bug fixes.
						</p>
						<div class="pt-2">
							<button
								data-type="modalopen"
								data-target="developer-modal"
								class="font-semibold drop-shadow-lg bg-zinc-700 hover:bg-orange-400 rounded transition-all duration-300 text-zinc-400 hover:text-white p-2"
							>
								Apply
							</button>
						</div>
						<p class="text-md font-thin text-zinc-400 pt-2">
							Don't want to apply but still want to contribute?
							<a
								href="https://github.com/ZeroIntensity/gamehub"
								class="text-orange-400 hover:text-orange-300 transition-all"
								>Source code</a
							>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
