<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Error {{ error }} - GameHub</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="/static/js/dist/error.js"></script>
        <link rel="stylesheet" href="/static/css/selection.css" />
    </head>

    <body class="bg-zinc-900">
        <div class="flex flex-wrap bg-zinc-900 w-full h-screen">
            {{ nav|safe }}

            <div class="w-9/12 text-white m-auto">
                <div class="p-4 w-5/6 lg:w-3/6 m-auto">
                    <h1
                        class="text-white text-8xl lg:text-6xl font-bold text-center"
                    >
                        Error
                        <span
                            class="bg-gradient-to-r from-orange-400 to-orange-500 bg-clip-text text-transparent"
                            >{{ error }}</span
                        >
                    </h1>
                    <h2 class="p-2 text-5xl lg:text-3xl font-bold text-center">
                        {{ message }}
                    </h2>

                    <div
                        class="font-semibold text-center w-3/6 m-auto p-5 text-2xl lg:text-lg"
                    >
                        <a
                            href="/"
                            class="lg:bg-zinc-900 bg-orange-400 drop-shadow-md border-solid border-2 border-orange-400 hover:bg-orange-400 p-4 lg:p-2 rounded transition-all text-4xl lg:text-xl duration-300"
                        >
                            Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
