<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Error {{ error }} - GameHub</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="/static/js/dist/error.js"></script>
		<meta name="title" content="Game Hub 2 - Unblocked Games" />
		<meta
			name="description"
			content="Game Hub is a site where you can play over 69 unblocked games such as, Retro Bowl, Shell Shockers and Pokémon."
		/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.gamehub2.com/" />
		<meta property="og:title" content="Game Hub 2 - Unblocked Games" />
		<meta
			property="og:description"
			content="Game Hub is a site where you can play over 69 unblocked games such as, Retro Bowl, Shell Shockers and Pokémon."
		/>
		<meta property="og:image" content="/static/assets/logo.jpg" />
		{% if production %}
		<link rel="stylesheet" href="/static/css/dist/error.css" />
		{% else %}
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="stylesheet" href="/static/css/dev/selection.css" />
		<link rel="stylesheet" href="/static/css/scheme.css" />
		{% endif %}
	</head>

	<body class="bg-zinc-900">
		<div class="flex flex-wrap bg-zinc-900 w-full h-screen">
			<nav
				class="w-3/12 bg-zinc-800 rounded p-3 shadow-lg self-start sticky top-0 h-screen overflow-y-auto"
			>
				<div class="text-center p-2 mb-5">
					<p
						class="text-white hidden md:inline text-2xl lg:text-5xl font-bold tracking-wide"
					>
						Game<span
							class="bg-gradient-to-r from-orange-400 to-orange-500 bg-clip-text text-transparent"
							>Hub</span
						>
					</p>

					<p></p>
				</div>

				<svg class="h-7 w-7 md:h-6 md:w-6 2xl:w-8 2xl:h-8 hidden"></svg>
				<!-- ^^ makes sure the svg classes are compiled by tailwind -->

				<ul class="space-y-2">
					{% for navitem in nav %} {% if not navitem.marker %}
					<li>
						<a
							data-type="navlink"
							href="{{ navitem.href }}"
							class="flex items-center space-x-3 text-white p-2 rounded-md font-medium hover:bg-zinc-700 focus:shadow-outline"
						>
							<span class="text-white m-auto md:m-0">
								{{ navitem.svg|safe }}
							</span>
							<span class="hidden md:inline 2xl:text-xl"
								>{{ navitem.title }}</span
							>
						</a>
					</li>
					{% else %}
					<div class="py-4">
						<hr class="w-full border-t border-zinc-700" />
					</div>
					{% endif %} {% endfor %}
				</ul>
			</nav>

			<div class="w-9/12 text-white m-auto">
				<div class="p-4 w-5/6 lg:w-3/6 m-auto">
					<h1 class="text-white text-6xl md:text-7xl font-bold text-center">
						Error
						<span
							class="bg-gradient-to-r from-orange-400 to-orange-500 bg-clip-text text-transparent"
							>{{ error }}</span
						>
					</h1>
					<h2 class="p-2 text-3xl md:text-5xl font-bold text-center">
						{{ message }}
					</h2>

					<div
						class="font-semibold text-center w-3/6 m-auto p-5 text-2xl lg:text-lg"
					>
						<a
							href="/"
							class="text-xl md:text-3xl font-semibold drop-shadow-lg bg-zinc-800 hover:bg-orange-400 rounded transition-all duration-300 text-zinc-500 hover:text-white p-2"
						>
							Home
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
