<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Home - GameHub</title>
		<link rel="stylesheet" href="/static/css/dist/index.css" />
	</head>
	<body class="bg-zinc-900">
		<h1 class="text-center font-bold text-7xl text-white">
			Game <span class="text-orange-400">Hub</span> 2
		</h1>
		<div class="bg-zinc-800"></div>
		<footer
			class="text-center font-thin text-zinc-400 shadow bg-zinc-800 p-3 bottom-0 absolute w-screen"
		>
			© Game Hub Inc. @ 2021-2022
		</footer>
	</body>
</html>
