<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home - GameHub</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="/static/js/dist/index.js"></script>
        <link rel="stylesheet" href="/static/css/selection.css" />
    </head>

    <body class="bg-zinc-900">
        <div class="flex flex-wrap bg-zinc-900 w-full h-screen">
            {{ nav|safe }}

            <div class="w-9/12 text-white">
                <div class="p-4">
                    <h1
                        class="text-white text-5xl lg:text-6xl font-bold text-center"
                    >
                        Game<span
                            class="bg-gradient-to-r from-orange-400 to-orange-500 bg-clip-text text-transparent"
                            >Hub</span
                        >
                        2
                    </h1>

                    <div
                        class="font-semibold text-center w-3/6 m-auto p-5 text-2xl lg:text-lg"
                    >
                        <a
                            href="/games"
                            class="drop-shadow-md border-solid border-2 border-orange-400 hover:bg-orange-400 p-2 rounded transition-all text-xl duration-300"
                        >
                            Browse Games
                        </a>
                    </div>
                </div>
                <div class="p-4">
                    {% if user and user.account_type != "user" %}
                    <div class="pl-7">
                        <button
                            class="drop-shadow-md border-solid border-2 border-emerald-400 hover:bg-emerald-400 p-2 rounded transition-all duration-300"
                            aria-label="Create new post."
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-7 w-7"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                stroke-width="2"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                                />
                            </svg>
                        </button>
                    </div>
                    {% endif %}
                    <div
                        class="grid grid-cols-1 md:grid-cols-2 gap-5 p-7 first:pt-4 last:pb-4"
                    >
                        {% for post in posts %}
                        <div class="bg-zinc-800 rounded p-4 drop-shadow-lg">
                            <p
                                class="font-thin text-4xl lg:text-2xl xl:text-xl text-zinc-400"
                                data-type="epoch"
                                style="display: none"
                            >
                                {{ post.epoch }}
                            </p>
                            <p
                                class="text-zinc-200 text-3xl xl:text-2xl lg:text-3xl"
                            >
                                {{ post.title }}
                            </p>
                            <div class="py-4">
                                <hr class="w-full border-t border-zinc-700" />
                            </div>
                            <p
                                class="text-zinc-300 text-3xl xl:text-lg lg:text-xl font-thin"
                            >
                                {{ post.content }}
                            </p>
                            <!--
                <div class="grid xl:gap-36 2xl:gap-2 gap-4 xl:grid-cols-6">
                    <button
                        class="text-4xl h-20 lg:text-lg xl:w-32 xl:text-lg lg:h-12 rounded drop-shadow-xl bg-gradient-to-tr from-orange-400 to-orange-700 px-1 md:p-1 xl:p-2 font-bold hover:opacity-50 active:opacity-30 transition-all"
                    >
                        Download
                    </button>
                    <button
                        class="text-4xl h-20 lg:text-lg xl:w-32 xl:text-lg lg:h-12 rounded drop-shadow-xl bg-gradient-to-tr from-green-400 to-green-700 px-1 md:p-1 xl:p-2 font-bold hover:opacity-50 active:opacity-30 transition-all"
                    >
                        Like
                    </button>
                    <button
                        class="text-4xl h-20 lg:text-lg xl:w-32 xl:text-lg lg:h-12 rounded drop-shadow-xl bg-gradient-to-tr from-blue-400 to-blue-700 px-1 md:p-1 xl:p-2 font-bold hover:opacity-50 active:opacity-30 transition-all"
                    >
                        Comment
                    </button>
                </div>
            -->
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
