<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Home - GameHub</title>
		<link rel="stylesheet" href="/static/css/dist/index.css" />
	</head>

	<body class="bg-zinc-900">
		<style>
			ul li {
				display: inline-block;
			}
		</style>
		<div
			class="bg-black opacity-60 h-screen z-50 absolute w-screen hidden transition-all"
		>
			a
		</div>
		<div class="bg-zinc-800 flex flex-row text-white">
			<h1 class="font-bold text-4xl sm:text-7xl p-7">
				Game <span class="text-orange-400">Hub</span> 2
			</h1>
			<div
				class="grid place-items-center xl:mx-auto font-thin xl:text-lg text-orange-400"
			>
				<ul>
					<!-- is there a better way to do this? -->
					<li class="mx-5">Home</li>
					<li class="mx-5">Games</li>
					<li class="mx-5">Downloads</li>
					<li class="mx-5">Emulators</li>
					<li class="mx-5">ROMS</li>
					<li class="mx-5">Suggestions</li>
					<li class="mx-5">Applications</li>
					<li class="mx-5">Report</li>
				</ul>
			</div>
		</div>

		<div class="grid grid-cols-2 gap-5 p-7">
			<div class="bg-zinc-800 text-white rounded p-4 drop-shadow-md">
				<p class="font-thin text-md xl:text-lg text-zinc-400">
					Announcements - March 23rd, 2022
				</p>
				<p class="font-bold text-lg xl:text-2xl">
					Minecraft download has just been added!
				</p>
				<div class="py-4">
					<hr class="w-full border-t border-zinc-700" />
				</div>

				<div class="grid gap-4 xl:grid-cols-6">
					<button
						class="rounded drop-shadow-xl bg-gradient-to-tr from-orange-400 to-orange-700 px-1 md:p-1 xl:p-2 font-bold hover:opacity-50 active:opacity-30 transition-all"
					>
						Download
					</button>

					<button
						class="rounded drop-shadow-xl bg-gradient-to-tr from-green-400 to-green-700 px-1 md:p-1 xl:p-2 font-bold hover:opacity-50 active:opacity-30 transition-all"
					>
						Like
					</button>

					<button
						class="rounded drop-shadow-xl bg-gradient-to-tr from-blue-400 to-blue-700 px-1 md:p-1 xl:p-2 font-bold hover:opacity-50 active:opacity-30 transition-all"
					>
						Comment
					</button>
				</div>
			</div>
			<div class="bg-zinc-800 text-white rounded p-4 drop-shadow-md">
				<p class="font-thin text-md xl:text-lg text-zinc-400">Games</p>
				<p class="font-bold text-lg xl:text-2xl">beat up franklin simulator</p>
				<div class="py-4">
					<hr class="w-full border-t border-zinc-700" />
				</div>

				<div class="grid gap-4 xl:grid-cols-6">
					<button
						class="rounded drop-shadow-xl bg-gradient-to-tr from-zinc-400 to-zinc-700 px-1 md:p-1 xl:p-2 font-bold hover:opacity-50 active:opacity-30 transition-all"
					>
						Play
					</button>

					<button
						class="rounded drop-shadow-xl bg-gradient-to-tr from-green-400 to-green-700 px-1 md:p-1 xl:p-2 font-bold hover:opacity-50 active:opacity-30 transition-all"
					>
						Like
					</button>

					<button
						class="rounded drop-shadow-xl bg-gradient-to-tr from-blue-400 to-blue-700 px-1 md:p-1 xl:p-2 font-bold hover:opacity-50 active:opacity-30 transition-all"
					>
						Comment
					</button>
				</div>
			</div>
			<div class="bg-zinc-800 text-white rounded p-4 drop-shadow-md">
				<p class="font-thin text-md xl:text-lg text-zinc-400">
					Announcements - March 23rd, 2022
				</p>
				<p class="font-bold text-lg xl:text-2xl">i forgor</p>

				<div class="py-4">
					<hr class="w-full border-t border-zinc-700" />
				</div>

				<p class="text-zinc-300">
					I love god, like I literally love him so much! LIKE OMG I like to put
					my large 50cm dick into his ass😏 and start whooping like jeSUS christ
					Oma Lawd SOOOo hottie uwu!!!🥵 He make me wanna come in like 2 seconds
					but I need to hold it because I am a good prayer so I need to satisfy
					before myself so I will suck his cock before doing anything right, he
					will come foutain of holy susy come in my mouth and i swallow it
					!!!1!? BECAUSE IM A GOOD PRAYER🤲🙏!!! UESAYESSIR! Im LIL NAS Y hahah
					so i will stay in heaven and sheeesh zamn with JEsus not with satan
					sheeesh zamn!11 less go mf🤪 I will read The Bible for me and Jesus
					children everyday!11🧾 GOD IS GOOD GOD IS GREAT! AND GOD IS THICK ASS
					AF SHEESH ZAMN DADDY GOD UWU HARDER DADy🥶💯🥵🔥
				</p>
			</div>
		</div>

		<footer
			class="text-center font-thin text-zinc-400 shadow bg-zinc-800 p-3 bottom-0 fixed w-full"
		>
			© Game Hub Inc. @ 2021-2022
		</footer>
	</body>
</html>
