<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login - GameHub</title>
		<script src="/static/js/dist/login.js"></script>
		<meta name="title" content="Game Hub 2 - Unblocked Games" />
		<meta
			name="description"
			content="Game Hub is a site where you can play over 69 unblocked games such as, Retro Bowl, Shell Shockers and Pokémon."
		/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.gamehub2.com/" />
		<meta property="og:title" content="Game Hub 2 - Unblocked Games" />
		<meta
			property="og:description"
			content="Game Hub is a site where you can play over 69 unblocked games such as, Retro Bowl, Shell Shockers and Pokémon."
		/>
		<meta property="og:image" content="/static/assets/logo.jpg" />
		{% if production %}
		<link rel="stylesheet" href="/static/css/dist/login.css" />
		{% else %}
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="stylesheet" href="/static/css/dev/selection.css" />
		<link rel="stylesheet" href="/static/css/dev/placeholder.css" />
		<link rel="stylesheet" href="/static/css/dev/autofill.css" />
		<link rel="stylesheet" href="/static/css/scheme.css" />
		{% endif %}
	</head>

	<body class="bg-zinc-900">
		<div class="flex flex-wrap bg-zinc-900 w-full h-screen">
			<nav
				class="w-3/12 bg-zinc-800 rounded p-3 shadow-lg self-start sticky top-0 h-screen overflow-y-auto"
			>
				<div class="flex space-x-4 p-2 mb-5 justify-center">
					<p class="text-white text-2xl lg:text-5xl font-bold tracking-wide">
						Game<span
							class="bg-gradient-to-r from-orange-400 to-orange-500 bg-clip-text text-transparent"
							>Hub</span
						>
					</p>

					<p></p>
				</div>

				<svg class="h-7 w-7 md:h-6 md:w-6 2xl:w-8 2xl:h-8 hidden"></svg>
				<!-- ^^ makes sure the svg classes are compiled by tailwind -->

				<ul class="space-y-2">
					{% for navitem in nav %} {% if not navitem.marker %}
					<li>
						<a
							data-type="navlink"
							href="{{ navitem.href }}"
							class="flex items-center space-x-3 text-white p-2 rounded-md font-medium hover:bg-zinc-700 focus:shadow-outline"
						>
							<span class="text-white m-auto md:m-0">
								{{ navitem.svg|safe }}
							</span>
							<span class="hidden md:inline 2xl:text-xl"
								>{{ navitem.title }}</span
							>
						</a>
					</li>
					{% else %}
					<div class="py-4">
						<hr class="w-full border-t border-zinc-700" />
					</div>
					{% endif %} {% endfor %}
				</ul>
			</nav>

			<div class="w-9/12 text-white">
				<div class="flex flex-col h-screen overflow-y-auto py-4">
					<div class="p-4 m-auto drop-shadow-lg w-3/4 bg-zinc-800 rounded-lg">
						<form class="space-y-6" action="#" id="login-form">
							<p
								class="justify-start text-2xl xl:text-xl font-medium text-white"
							>
								Log in
							</p>

							<small></small>
							<div>
								<label
									for="text"
									class="block mb-2 text-sm font-medium text-zinc-400"
									>Username</label
								>
								<input
									type="text"
									name="title"
									id="login-username"
									class="bg-zinc-900 xl:text-sm rounded-lg block h-fit w-full p-2.5 focus:bg-zinc-700 text-white focus:outline-none"
									placeholder="obama_plays"
								/>
								<small></small>
							</div>
							<div>
								<label
									for="password"
									class="block mb-2 text-sm font-medium text-zinc-400"
									>Password</label
								>
								<input
									type="password"
									name="password"
									id="login-password"
									placeholder="•••••••"
									class="bg-zinc-900 xl:text-sm rounded-lg h-fit block w-full p-2.5 focus:bg-zinc-700 text-white focus:outline-none"
								/>
								<small></small>
							</div>

							<button
								data-form-exclude="true"
								type="submit"
								class="w-full text-xl font-semibold drop-shadow-lg bg-zinc-700 hover:bg-orange-400 rounded transition-all duration-300 text-zinc-400 hover:text-white p-2"
							>
								Login
							</button>
						</form>
					</div>
					<div class="py-4">
						<hr class="w-3/4 border-t border-zinc-700 m-auto" />
					</div>
					<div
						class="pt-8 p-4 m-auto drop-shadow-lg w-3/4 bg-zinc-800 rounded-lg"
					>
						<form class="space-y-6" id="signup-form">
							<p
								class="justify-start text-2xl xl:text-xl font-medium text-white"
							>
								Sign Up
							</p>

							<small></small>
							<div>
								<label
									for="text"
									class="block mb-2 text-sm font-medium text-zinc-400"
									>Username</label
								>
								<input
									type="text"
									name="signup-username"
									id="signup-username"
									class="bg-zinc-900 lg:text-sm rounded-lg block h-fit w-full p-2.5 focus:bg-zinc-700 text-white focus:outline-none"
									placeholder="faze_boner_xx"
								/>
								<small></small>
							</div>
							<div>
								<label
									for="password"
									class="block mb-2 text-sm font-medium text-zinc-400"
									>Password</label
								>
								<input
									type="password"
									name="signup-password"
									id="signup-password"
									placeholder="•••••••••"
									class="bg-zinc-900 lg:text-sm rounded-lg h-fit block w-full p-2.5 focus:bg-zinc-700 text-white focus:outline-none"
								/>
								<small></small>
							</div>

							<button
								data-form-exclude="true"
								type="submit"
								class="w-full text-xl font-semibold drop-shadow-lg bg-zinc-700 hover:bg-emerald-400 rounded transition-all duration-300 text-zinc-400 hover:text-white p-2"
							>
								Sign Up
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
